.u-section-1 .u-sheet-1 {
  min-height: 2994px;
}

.u-section-1 .u-list-1 {
  width: 1083px;
  margin: 150px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 2784px;
  grid-gap: 40px 40px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-1 .u-image-1 {
  width: 177px;
  height: 177px;
  background-image: url("images/pexels-photo-2381069.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-1 .u-image-2 {
  width: 177px;
  height: 177px;
  background-image: url("images/pexels-photo-1181742.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-6 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-1 .u-image-3 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609-71.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 21px;
}

.u-section-1 .u-image-4 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-12 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 21px;
}

.u-section-1 .u-image-5 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-15 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-6 {
  padding: 0 21px;
}

.u-section-1 .u-image-6 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-18 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 21px;
}

.u-section-1 .u-image-7 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-21 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-8 {
  padding: 0 21px;
}

.u-section-1 .u-image-8 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-24 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-9 {
  padding: 0 21px;
}

.u-section-1 .u-image-9 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-27 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-10 {
  padding: 0 21px;
}

.u-section-1 .u-image-10 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-30 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-11 {
  padding: 0 21px;
}

.u-section-1 .u-image-11 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-33 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-12 {
  padding: 0 21px;
}

.u-section-1 .u-image-12 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-36 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-13 {
  padding: 0 21px;
}

.u-section-1 .u-image-13 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-37 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-39 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-14 {
  padding: 0 21px;
}

.u-section-1 .u-image-14 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-41 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-42 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-15 {
  padding: 0 21px;
}

.u-section-1 .u-image-15 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-44 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-45 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-16 {
  padding: 0 21px;
}

.u-section-1 .u-image-16 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-47 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-48 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-17 {
  padding: 0 21px;
}

.u-section-1 .u-image-17 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-49 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-50 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-51 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-18 {
  padding: 0 21px;
}

.u-section-1 .u-image-18 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-53 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-54 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-19 {
  padding: 0 21px;
}

.u-section-1 .u-image-19 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-55 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-56 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-57 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-20 {
  padding: 0 21px;
}

.u-section-1 .u-image-20 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-58 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-59 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-60 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-21 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-21 {
  padding: 0 21px;
}

.u-section-1 .u-image-21 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-61 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-62 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-63 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-22 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-22 {
  padding: 0 21px;
}

.u-section-1 .u-image-22 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-64 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-65 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-66 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-23 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-23 {
  padding: 0 21px;
}

.u-section-1 .u-image-23 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-67 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-68 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-69 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

.u-section-1 .u-list-item-24 {
  background-image: none;
  box-shadow: 2px 2px 14px 4px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-24 {
  padding: 0 21px;
}

.u-section-1 .u-image-24 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  box-shadow: 2px 6px 23px 6px rgba(26,26,26,0.65);
  margin: 23px auto 0;
}

.u-section-1 .u-text-70 {
  font-weight: 700;
  margin: 8px 9px 0;
}

.u-section-1 .u-text-71 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-1 .u-text-72 {
  font-weight: 300;
  font-style: normal;
  margin: -1px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -11px;
    width: 980px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 420px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-3 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-4 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-5 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-6 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-7 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-8 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-9 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-10 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-11 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-12 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-13 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-14 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-15 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-16 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-46 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-17 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-18 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-53 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-54 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-19 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-55 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-56 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-57 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-20 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-59 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-60 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-21 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-61 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-62 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-63 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-22 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-64 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-65 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-66 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-23 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-67 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-68 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-69 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-24 {
    width: 247px;
    height: 247px;
  }

  .u-section-1 .u-text-70 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-71 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-72 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 80px;
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 708px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
  }

  .u-section-1 .u-text-53 {
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-right: 0;
  }

  .u-section-1 .u-text-57 {
    margin-right: 0;
  }

  .u-section-1 .u-text-58 {
    margin-right: 0;
  }

  .u-section-1 .u-text-59 {
    margin-right: 0;
  }

  .u-section-1 .u-text-60 {
    margin-right: 0;
  }

  .u-section-1 .u-text-61 {
    margin-right: 0;
  }

  .u-section-1 .u-text-62 {
    margin-right: 0;
  }

  .u-section-1 .u-text-63 {
    margin-right: 0;
  }

  .u-section-1 .u-text-64 {
    margin-right: 0;
  }

  .u-section-1 .u-text-65 {
    margin-right: 0;
  }

  .u-section-1 .u-text-66 {
    margin-right: 0;
  }

  .u-section-1 .u-text-67 {
    margin-right: 0;
  }

  .u-section-1 .u-text-68 {
    margin-right: 0;
  }

  .u-section-1 .u-text-69 {
    margin-right: 0;
  }

  .u-section-1 .u-text-70 {
    margin-right: 0;
  }

  .u-section-1 .u-text-71 {
    margin-right: 0;
  }

  .u-section-1 .u-text-72 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1537px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 35px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1352px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1595px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1340px;
    grid-gap: 100px 100px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-36 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-42 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-45 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-48 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-51 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-54 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-57 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-60 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-63 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-66 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-69 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-72 {
    margin-top: 12px;
  }
}