 .u-section-1 {
  background-image: linear-gradient(#333333, #1a1a1a);
}

.u-section-1 .u-sheet-1 {
  min-height: 5400px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 633px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 16px;
}

.u-section-1 .u-image-1 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-1 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 16px;
}

.u-section-1 .u-image-2 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-2 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 16px;
}

.u-section-1 .u-image-3 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-3 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 16px;
}

.u-section-1 .u-image-4 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-4 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 6px 16px;
}

.u-section-1 .u-image-5 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-5 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 6px 16px;
}

.u-section-1 .u-image-6 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-6 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 6px 16px;
}

.u-section-1 .u-image-7 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-7 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 6px 16px;
}

.u-section-1 .u-image-8 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-8 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 6px 16px;
}

.u-section-1 .u-image-9 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-9 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 6px 16px;
}

.u-section-1 .u-image-10 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-10 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 6px 16px;
}

.u-section-1 .u-image-11 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-11 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-22 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-23 {
  padding: 6px 16px;
}

.u-section-1 .u-image-12 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-12 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-24 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-37 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-25 {
  padding: 6px 16px;
}

.u-section-1 .u-image-13 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-13 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-26 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-39 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-40 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-27 {
  padding: 6px 16px;
}

.u-section-1 .u-image-14 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-14 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-28 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-41 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-42 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-43 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-29 {
  padding: 6px 16px;
}

.u-section-1 .u-image-15 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-15 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-30 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-44 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-45 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-46 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-31 {
  padding: 6px 16px;
}

.u-section-1 .u-image-16 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-16 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-32 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-47 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-48 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-49 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-33 {
  padding: 6px 16px;
}

.u-section-1 .u-image-17 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-17 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-34 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-50 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-51 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-52 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-35 {
  padding: 6px 16px;
}

.u-section-1 .u-image-18 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-18 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-36 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-53 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-54 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-55 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-37 {
  padding: 6px 16px;
}

.u-section-1 .u-image-19 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-19 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-38 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-56 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-57 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-58 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-39 {
  padding: 6px 16px;
}

.u-section-1 .u-image-20 {
  height: 357px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  filter: brightness(0.9);
  margin: 0;
}

.u-section-1 .u-group-20 {
  min-height: 108px;
  height: auto;
  margin: -67px 0 0;
}

.u-section-1 .u-container-layout-40 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-59 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-60 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-61 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 882px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-1 .u-list-item-21 {
  background-image: none;
}

.u-section-1 .u-container-layout-41 {
  padding: 6px 1px;
}

.u-section-1 .u-image-21 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-21 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-42 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-62 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-63 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-64 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-22 {
  background-image: none;
}

.u-section-1 .u-container-layout-43 {
  padding: 6px 1px;
}

.u-section-1 .u-image-22 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-22 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-44 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-65 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-66 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-67 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-23 {
  background-image: none;
}

.u-section-1 .u-container-layout-45 {
  padding: 6px 1px;
}

.u-section-1 .u-image-23 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-23 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-46 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-68 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-69 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-70 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-24 {
  background-image: none;
}

.u-section-1 .u-container-layout-47 {
  padding: 6px 1px;
}

.u-section-1 .u-image-24 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-24 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-48 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-71 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-72 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-73 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-25 {
  background-image: none;
}

.u-section-1 .u-container-layout-49 {
  padding: 6px 1px;
}

.u-section-1 .u-image-25 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-25 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-50 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-74 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-75 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-76 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-26 {
  background-image: none;
}

.u-section-1 .u-container-layout-51 {
  padding: 6px 1px;
}

.u-section-1 .u-image-26 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-26 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-52 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-77 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-78 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-79 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-1 .u-list-item-27 {
  background-image: none;
}

.u-section-1 .u-container-layout-53 {
  padding: 6px 1px;
}

.u-section-1 .u-image-27 {
  height: 387px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 258px;
  margin: 0 auto;
}

.u-section-1 .u-group-27 {
  width: 254px;
  min-height: 108px;
  height: auto;
  margin: -74px auto 0;
}

.u-section-1 .u-container-layout-54 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-80 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 auto;
}

.u-section-1 .u-text-81 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-82 {
  font-size: 1rem;
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-5 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-6 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-7 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-8 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-9 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-10 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-10 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-11 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-12 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-12 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-13 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-13 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-14 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-14 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-15 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-15 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-16 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-16 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-17 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-17 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-18 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-18 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-19 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-19 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-image-20 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-20 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(4, 25%);
    min-height: 758px;
  }

  .u-section-1 .u-image-21 {
    height: 294px;
  }

  .u-section-1 .u-group-21 {
    margin-top: 27px;
    height: auto;
  }

  .u-section-1 .u-image-22 {
    height: 294px;
  }

  .u-section-1 .u-group-22 {
    margin-top: 27px;
    height: auto;
  }

  .u-section-1 .u-image-23 {
    height: 294px;
  }

  .u-section-1 .u-group-23 {
    margin-top: 27px;
    height: auto;
  }

  .u-section-1 .u-image-24 {
    height: 294px;
  }

  .u-section-1 .u-group-24 {
    margin-top: 27px;
    height: auto;
  }

  .u-section-1 .u-image-25 {
    height: 294px;
  }

  .u-section-1 .u-group-25 {
    margin-top: 27px;
    height: auto;
  }

  .u-section-1 .u-image-26 {
    height: 294px;
  }

  .u-section-1 .u-group-26 {
    margin-top: 27px;
    height: auto;
  }

  .u-section-1 .u-image-27 {
    height: 294px;
  }

  .u-section-1 .u-group-27 {
    margin-top: 27px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
    min-height: 1599px;
  }

  .u-section-1 .u-image-1 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-10 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-12 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-13 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-14 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-15 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-16 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-16 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-17 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-18 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-19 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-20 {
    margin-top: -173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 2228px;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-image-21 {
    height: 477px;
  }

  .u-section-1 .u-image-22 {
    height: 477px;
  }

  .u-section-1 .u-image-23 {
    height: 477px;
  }

  .u-section-1 .u-image-24 {
    height: 477px;
  }

  .u-section-1 .u-image-25 {
    height: 477px;
  }

  .u-section-1 .u-image-26 {
    height: 477px;
  }

  .u-section-1 .u-image-27 {
    height: 477px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-10 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-12 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-13 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-14 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-15 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-16 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-16 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-17 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-17 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-34 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-18 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-18 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-36 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-37 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-19 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-19 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-38 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-39 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-20 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-20 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-40 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-21 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-42 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-22 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-44 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-23 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-46 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-24 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-48 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-25 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-50 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-26 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-52 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-27 {
    height: 827px;
  }

  .u-section-1 .u-container-layout-54 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-6 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-8 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-17 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-9 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-19 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-10 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-10 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-21 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-11 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-12 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-12 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-25 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-13 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-13 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-27 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-14 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-14 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-29 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-15 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-15 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-31 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-16 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-16 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-33 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-17 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-17 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-35 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-18 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-18 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-37 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-19 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-19 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-39 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-20 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-20 {
    margin-top: -160px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-21 {
    height: 509px;
  }

  .u-section-1 .u-image-22 {
    height: 509px;
  }

  .u-section-1 .u-image-23 {
    height: 509px;
  }

  .u-section-1 .u-image-24 {
    height: 509px;
  }

  .u-section-1 .u-image-25 {
    height: 509px;
  }

  .u-section-1 .u-image-26 {
    height: 509px;
  }

  .u-section-1 .u-image-27 {
    height: 509px;
  }
}